Repository keenethics/mayak: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

MID-31 test dev deploy
  .github/workflows/dev-deploy.yaml
  README.md
  docs/DEPLOY.md
  src/app/page.js
Due: eslint, prettier --write

MID-31 prepare for merge
  .github/workflows/dev-deploy.yaml
  src/app/page.js
Due: eslint, prettier --write

[MID-33] add required settings, add global styles, clean up old styles
  next.config.mjs
  src/app/globals.css
  src/app/layout.js
  src/app/page.js
  src/app/styles.module.scss
  src/app/styles/GlobalStyles.js
  src/lib/registry.js
Due: eslint, prettier --write

MID-33 Add a theme
  next-env.d.ts
  src/app/layout.js
  src/app/page.js
  src/app/styles/theme.js
  tsconfig.json
Due: eslint, prettier --write

[MID-33] add Providers
  src/app/Providers.js
  src/app/layout.js
Due: eslint, prettier --write

[MID-14] improve error handling and logging
  src/app/api/admin/[...slug]/route.js
  src/lib/auth.js
Due: eslint, prettier --write

[MID-14] moved login url into a const
  src/app/admin/adminApp.js
  src/lib/auth.js
  src/lib/consts.js
Due: eslint, prettier --write

[MID-33] renaming Provider to ThemeProvider
  src/app/ThemeProvider.js
  src/app/layout.js
  tsconfig.json
Due: eslint, prettier --write

[MID-20] add theme & basic styles based on figma ui kit
  .gitignore
  next.config.mjs
  package-lock.json
  package.json
  public/assets/fonts/Montserrat-Bold.ttf
  public/assets/fonts/Montserrat-Regular.ttf
  public/mayak_logo.svg
  src/app/_components/DemoHero/DemoHero.js
  src/app/_components/Header/Header.js
  src/app/globals.css
  src/app/layout.js
  src/app/page.js
  src/app/styleProvider.js
  src/app/styles.module.scss
  src/app/styles/font.js
  src/app/styles/globalStyles.js
  src/app/styles/theme/index.js
  src/app/styles/theme/theme.js
  src/app/styles/theme/ui/breakpoints.js
  src/app/styles/theme/ui/colors.js
  src/app/styles/theme/ui/fontStyle.js
  src/app/styles/theme/ui/index.js
  src/lib/registry.js
Due: eslint, prettier --write

[MID-18] apply formatting & linting
  .husky/.gitignore
  .husky/pre-commit
  .lintstagedrc.json
  docs/DEPLOY.md
  docs/GITFLOW.md
  jsconfig.json
  next.config.mjs
  package.json
  src/app/_hooks/api/index.js
  src/app/_hooks/index.js
  src/app/styles.module.scss
Due: eslint, prettier --write

[MID-18] add more rules & apply formatting according to them
  .eslintrc.json
  package-lock.json
  package.json
  src/app/admin/adminApp.js
  src/app/admin/page.js
  src/app/api/admin/[...slug]/route.js
  src/app/api/auth/[...nextauth]/route.js
  src/app/api/therapy/[slug]/route.js
  src/app/api/therapy/route.js
  src/app/therapy/page.js
Due: eslint, prettier --write

[MID-18] add short doc about linting
  README.md
Due: prettier --write

[MID-7] implemented initial db schema
  .env.example
  package-lock.json
  package.json
  prisma/fragments/specialistBase.prisma.fragment
  prisma/fragments/tableBase.prisma.fragment
  prisma/migrations/20240201042705_init/migration.sql
  prisma/models/base.prisma
  prisma/models/district.prisma
  prisma/models/placeOfWork.prisma
  prisma/models/specialist.prisma
  prisma/models/specialistDraft.prisma
  prisma/models/specialization.prisma
  prisma/models/therapy.prisma
  prisma/schema.prisma
  prismerge.json
Due: prettier --write

[MID-20] remove redundant font folder from public
  public/assets/fonts/Montserrat-Bold.ttf
  public/assets/fonts/Montserrat-Regular.ttf
Due: none

[MID-20] update theme by replacing px with rem
  src/app/_components/DemoHero/index.js
  src/app/page.js
  src/app/styles/theme/index.js
  src/app/styles/theme/theme.js
  src/app/styles/theme/ui/fontStyle.js
Due: eslint, prettier --write

[MID-14] refactoring code
  src/app/admin/adminApp.js
  src/lib/auth.js
Due: eslint, prettier --write

[MID-20] add device.js to support media queries
  src/app/_components/DemoHero/DemoHero.js
  src/app/styles/device.js
Due: eslint, prettier --write

[MID-18] more config for linter
  .eslintrc.js
  .eslintrc.json
  next.config.mjs
  package-lock.json
  package.json
  src/app/_hooks/api/index.js
  src/app/_hooks/api/useTherapy.js
  src/app/_hooks/index.js
  src/app/admin/adminApp.js
  src/app/admin/layout.js
  src/app/admin/page.js
  src/app/api/admin/[...slug]/route.js
  src/app/api/auth/[...nextauth]/route.js
  src/app/api/therapy/[slug]/route.js
  src/app/api/therapy/route.js
  src/app/layout.js
  src/app/page.js
  src/app/queryContext.js
  src/app/therapy/page.js
  src/lib/auth.js
  src/lib/db.js
  src/lib/env.js
Due: eslint, prettier --write

[MID-22] add initial version of form
  src/app/admin/adminApp.js
Due: eslint, prettier --write

[MID-10] added /api/feedback route and server-side validation
  src/app/api/feedback/route.js
Due: eslint, prettier --write

remove some libs temporary or not
  package-lock.json
  package.json
Due: prettier --write

[MID-19] test if linting runs and fails
  .github/workflows/linting.yaml
  src/app/layout.js
Due: eslint, prettier --write

[MID-19] fix linting error
  src/app/layout.js
Due: eslint, prettier --write

one more test
  src/app/layout.js
Due: eslint, prettier --write

[MID-19] fix linting error 2
  src/app/layout.js
Due: eslint, prettier --write

[MID-33] add example of using server-side and client-side components
  docs/GITFLOW.md
  src/app/ButtonAsTest.js
  src/app/page.js
Due: eslint, prettier --write

[MID-20] update device keys
  src/app/_components/DemoHero/DemoHero.js
  src/app/styles/device.js
Due: eslint, prettier --write

[MID-20] fix lint errors
  next.config.mjs
Due: none

[MID-33] fix indentation and code formatting to comply with linter rules
  .eslintrc.js
  .github/workflows/linting.yaml
  docs/DEPLOY.md
  next.config.mjs
  package-lock.json
  package.json
  src/app/ThemeProvider.js
  src/app/admin/adminApp.js
  src/app/api/admin/[...slug]/route.js
  src/app/layout.js
  src/app/page.js
  src/app/styles/GlobalStyles.js
  src/app/styles/theme.js
  src/lib/auth.js
  src/lib/registry.js
Due: eslint, prettier --write

[MID-33] fix indentation and code formatting to comply with linter rules
  .eslintrc.js
  next.config.mjs
  package.json
Due: eslint, prettier --write

[MID-33] rename component ThemeProvider to themeProvider
  src/app/layout.js
Due: eslint, prettier --write

[MID-21] added a favicon and robots.txt generation
  src/app/favicon.ico
  src/app/icon.svg
  src/app/robots.js
Due: eslint, prettier --write

[MID-21] add placeholder metadata to pages
  src/app/_components/Therapies/Therapies.js
  src/app/_components/Therapies/index.js
  src/app/admin/layout.js
  src/app/admin/page.js
  src/app/layout.js
  src/app/page.js
  src/app/therapy/page.js
Due: eslint, prettier --write

[MID-20] implement tailwind
  package-lock.json
  package.json
  postcss.config.js
  src/app/_components/DemoHero/DemoHero.js
  src/app/_components/Header/Header.js
  src/app/globals.css
  src/app/layout.js
  src/app/styleProvider.js
  src/app/styles/device.js
  src/app/styles/globalStyles.js
  src/app/styles/tailwind/index.js
  src/app/styles/tailwind/ui/colors.js
  src/app/styles/tailwind/ui/index.js
  src/app/styles/tailwind/ui/screens.js
  src/app/styles/tailwind/ui/typography.js
  src/app/styles/theme/index.js
  src/app/styles/theme/ui/colors.js
  src/app/styles/theme/ui/fontStyle.js
  src/app/styles/theme/ui/index.js
  src/lib/registry.js
  tailwind.config.mjs
Due: eslint, prettier --write

[MID-20] remove redundant compiler from nextConfig
  next.config.mjs
Due: none

[MID-20] fix minor lint errors
  next.config.mjs
Due: none

[MID-20] add fontWeight into tailwind presets
  src/app/_components/DemoHero/DemoHero.js
  src/app/styles/tailwind/index.js
  src/app/styles/tailwind/ui/fontWeight.js
  src/app/styles/tailwind/ui/index.js
Due: eslint, prettier --write

[MID-10] runned linter
  .eslintrc.js
  .github/workflows/linting.yaml
  docker-compose.yml
  docs/DEPLOY.md
  src/app/globals.css
  src/app/layout.js
  src/app/styles.module.scss
  src/lib/auth.js
Due: eslint, prettier --write

[MID-10] added POST request handler to /api/feedback and validation
  src/app/api/feedback/route.js
Due: eslint, prettier --write

[MID-17] add how-to on migrations in docs
  README.md
  docs/DEPLOY.md
Due: prettier --write

Path conditions:
  eslint: any of: *.js
  prettier --write: any of: *.{js,scss,md,json,prisma}
