Repository keenethics/mayak: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js,.mjs, prettier --check

[MID-92] added ui part
  src/app/(admin)/admin/_components/ServiceProvider/Specialist/Edit.js
  src/app/(admin)/admin/_components/ServiceProvider/WorkTimeForm.js
  src/app/(admin)/admin/_components/ServiceProvider/WorkTimeShow.js
  src/app/(admin)/admin/_lib/consts.js
  src/app/(admin)/admin/_lib/validationSchemas/createOrganizationSchema.js
  src/app/(admin)/admin/_lib/validationSchemas/specialistCommonSchemas.js
  src/app/(admin)/admin/_utils/common.js
  src/app/(admin)/admin/_utils/transformOrganizationData.js
  src/app/(admin)/admin/_utils/transformSpecialistFormData.js
  src/app/(app)/specialist/consts.js
  src/app/_components/CardSpecialist/Organization/Card.js
  src/app/_components/CardSpecialist/Specialist/Card.js
  src/app/_components/CardSpecialist/WorkTime.js
  src/app/_components/CardSpecialist/config.js
  src/app/_components/Feedback.js
  src/app/_components/InputFields/TextInputField.js
  src/app/api/admin/common.js
  src/app/api/search/route.js
  src/app/globals.css
  src/lib/consts.js
  src/utils/common.js
Due: eslint --ext .js,.mjs

[MID-108] testing changes
  .gitignore
  prisma/seedProd.mjs
  src/app/(admin)/admin/_components/Methods/List.js
  src/app/(admin)/admin/_components/Methods/Mutation.js
Due: eslint --ext .js,.mjs

[MID-108] small change
  .gitignore
Due: none

[MID-127] fixed
  src/app/_components/Specialists/SpecialistList.js
Due: eslint --ext .js,.mjs

[MID-128] changed code style
  package-lock.json
  package.json
  src/app/_components/Specialists/SpecialistList.js
Due: eslint --ext .js,.mjs, prettier --check

[MID-107] update dev seed
  prisma/seedDev.mjs
Due: none

[MID-135] bug fix
  src/app/_components/MainPageSections/DistrictList.js
  src/app/_components/MainPageSections/DistrictSearchSection.js
  src/app/_components/Slider.js
Due: eslint --ext .js,.mjs

[MID-135] minor change
  src/app/_components/MainPageSections/DistrictList.js
  src/app/_components/MainPageSections/DistrictSearchSection.js
Due: eslint --ext .js,.mjs

[MID-107] update prisma schema
  prisma/migrations/20240322133259_update_method_model/migration.sql
  prisma/schema.prisma
Due: none

[MID-135] remove es-lint comments
  src/app/_components/Slider.js
Due: eslint --ext .js,.mjs

[MID-135] replace clsx with cn
  src/app/_components/MainPageSections/DistrictList.js
Due: eslint --ext .js,.mjs

[MID-112] fix mobile modal open
  src/app/_components/CardSpecialist/CardWrapper.js
  src/app/_components/CardSpecialist/Organization/Card.js
  src/app/_components/CardSpecialist/Specialist/Card.js
Due: eslint --ext .js,.mjs

[MID-110] testing fixes
  src/app/(admin)/admin/_components/ServiceProvider/Organization/GeneralInfoEditOrg.js
  src/app/(admin)/admin/_components/ServiceProvider/Organization/OwnershipTypeSelect.js
  src/app/(admin)/admin/_lib/validationSchemas/organizationSchema.js
Due: eslint --ext .js,.mjs

[MID-112] small change
  package.json
Due: prettier --check

[MID-111] add inclusive space badge
  public/assets/icons/inclusiveSpace.svg
  public/assets/icons/index.js
  src/app/_components/CardSpecialist/Organization/Card.js
  src/app/_components/CardSpecialist/config.js
Due: eslint --ext .js,.mjs

[MID-111] add show everything hint to chiplist truncation
  src/app/_components/CardSpecialist/ChipList.js
  src/app/_components/CardSpecialist/Organization/Card.js
  src/app/_components/CardSpecialist/Organization/OrganizationChipLists.js
Due: eslint --ext .js,.mjs

[MID-111] add organization type to card
  src/app/_components/CardSpecialist/Organization/Card.js
  src/app/_components/CardSpecialist/Organization/OwnershipTypeTile.js
Due: eslint --ext .js,.mjs

[MID-107] refactor specialist create & edit
  src/app/(admin)/admin/_components/ServiceProvider/Specialist/Edit.js
  src/app/(admin)/admin/_components/ServiceProvider/Specialist/GeneralInfoEditSpec.js
  src/app/(admin)/admin/_components/ServiceProvider/Specialist/Show.js
  src/app/(admin)/admin/_components/ServiceProvider/Specialist/SpecializationMethodsList.js
  src/app/(admin)/admin/_lib/validationSchemas/specialistSchema.js
  src/app/(admin)/admin/_utils/transformSpecialistEditData.js
  src/app/(admin)/admin/_utils/transformSpecialistFormData.js
  src/app/api/admin/[...slug]/route.js
  src/app/api/admin/common.js
  src/app/globals.css
Due: eslint --ext .js,.mjs

fix: deploy
  package-lock.json
  package.json
Due: prettier --check

test: deploy logs
  .github/workflows/dev-deploy.yaml
  package.json
Due: prettier --check

fix: deploy
  .github/workflows/dev-deploy.yaml
  package.json
Due: prettier --check

[MID-107] update specialist edit
  prisma/seedProd.mjs
  src/app/(admin)/admin/_components/ServiceProvider/Specialist/Edit.js
  src/app/(admin)/admin/_components/ServiceProvider/Specialist/SpecializationMethodsList.js
  src/app/(admin)/admin/_components/ServiceProvider/hooks/useSpecializationsWithMethods.js
  src/app/(admin)/admin/_lib/consts.js
  src/app/(admin)/admin/_lib/validationSchemas/specialistSchema.js
Due: eslint --ext .js,.mjs

[MID-107] minor changes
  src/app/(admin)/admin/_components/ServiceProvider/Specialist/Create.js
  src/app/(admin)/admin/_components/ServiceProvider/Specialist/Edit.js
Due: eslint --ext .js,.mjs

[MID-84] bug fixes and review changes
  src/app/_components/SearchInput/OverlayList.js
  src/app/_components/SearchInput/SearchAutoCompleteDropDown.js
  src/app/_components/SearchInput/SearchContext.js
  src/app/_components/SearchInput/SearchInput.js
  src/app/_components/SearchInput/SearchInputField.js
  src/app/_components/Specialists/DistrictFilter.js
  src/app/api/search/helpers.js
  src/app/api/search/route.js
Due: eslint --ext .js,.mjs

[MID-110] review fix
  src/app/api/admin/common.js
Due: eslint --ext .js,.mjs

[MID-82] disabled add on all supportFocuses selected
  src/app/(admin)/admin/_components/ServiceProvider/SupportFocusesSelect.js
Due: eslint --ext .js,.mjs

[MID-103] add clients feature
  prisma/migrations/20240323173445_add_client_category_model/migration.sql
  prisma/migrations/20240324132521_update_specialist_to_client_fields/migration.sql
  prisma/schema.prisma
  prisma/seedDev.mjs
  prisma/seedProd.mjs
  src/app/(admin)/admin/_components/ServiceProvider/ClientCategoriesSelect.js
  src/app/(admin)/admin/_components/ServiceProvider/Specialist/GeneralInfoEditSpec.js
  src/app/(admin)/admin/_components/ServiceProvider/Specialist/Show.js
  src/app/(admin)/admin/_lib/validationSchemas/specialistCommonSchemas.js
  src/app/(admin)/admin/_lib/validationSchemas/specialistSchema.js
  src/app/(admin)/admin/_utils/transformSpecialistEditData.js
  src/app/(admin)/admin/_utils/transformSpecialistFormData.js
  src/app/api/admin/[...slug]/route.js
  src/app/api/admin/common.js
Due: eslint --ext .js,.mjs

[MID-103] add price fields in ap and show created price on ui
  package-lock.json
  package.json
  src/app/(admin)/admin/_components/ServiceProvider/Organization/Show.js
  src/app/(admin)/admin/_components/ServiceProvider/ServicesFormCreate.js
  src/app/(admin)/admin/_components/ServiceProvider/ServicesFormEdit.js
  src/app/(admin)/admin/_components/ServiceProvider/Specialist/Show.js
  src/app/(admin)/admin/_lib/validationSchemas/organizationSchema.js
  src/app/(admin)/admin/_utils/transformOrganizationData.js
  src/app/(admin)/admin/_utils/transformOrganizationEditData.js
  src/app/(app)/specialist/consts.js
  src/app/_components/CardSpecialist/TherapyPrices.js
  src/app/api/event/route.js
Due: eslint --ext .js,.mjs, prettier --check

[MID-131] fixed filters
  package-lock.json
  package.json
  src/app/_components/Specialists/FilterBase.js
  src/app/_components/Specialists/Filters.js
  src/app/_components/Specialists/SpecialistList.js
Due: eslint --ext .js,.mjs, prettier --check

[MID-94] code review fixes
  src/app/(admin)/admin/_components/ServiceProvider/CoordinateInput.js
  src/app/_components/Map/component.js
  src/app/_components/Map/prop-types.js
  src/app/_components/Map/window.js
Due: eslint --ext .js,.mjs

[MID-111] remove unnecessary prisma client
  src/app/api/search/route.js
Due: eslint --ext .js,.mjs

[MID-92] small changes
  prisma/seedDev.mjs
  src/app/(admin)/admin/_utils/common.js
Due: eslint --ext .js,.mjs

[MID-130] added specializations filter
  src/app/_components/Specialists/Filters.js
  src/app/_components/Specialists/SpecializationFilter.js
  src/app/_components/Specialists/index.js
  src/app/_hooks/api/index.js
  src/app/_hooks/api/useSpecialization.js
  src/app/api/specialization/route.js
Due: eslint --ext .js,.mjs

[MID-103] small fix
  src/app/(admin)/admin/_components/ServiceProvider/Organization/Show.js
  src/app/(admin)/admin/_utils/transformOrganizationData.js
  src/app/(admin)/admin/_utils/transformOrganizationEditData.js
Due: eslint --ext .js,.mjs

[MID-92] small changes
  src/app/(admin)/admin/_lib/validationSchemas/specialistCommonSchemas.js
Due: eslint --ext .js,.mjs

[MID-103] change type
  src/app/(admin)/admin/_utils/transformOrganizationData.js
  src/app/(admin)/admin/_utils/transformOrganizationEditData.js
Due: eslint --ext .js,.mjs

[MID-93] create organization with client category Co-authored-by: Sergii <watchlar2000@users.noreply.github.com>
  .vscode/settings.json
  package.json
  prisma/migrations/20240325103452_update_organization_to_client_fields/migration.sql
  prisma/schema.prisma
  prisma/seedDev.mjs
  prisma/seedProd.mjs
  src/app/(admin)/admin/_components/ServiceProvider/Organization/GeneralInfoEditOrg.js
  src/app/(admin)/admin/_components/ServiceProvider/Specialist/Edit.js
  src/app/(admin)/admin/_utils/transformOrganizationData.js
  src/app/api/admin/common.js
  src/app/globals.css
Due: eslint --ext .js,.mjs, prettier --check

Path conditions:
  eslint --ext .js,.mjs: any of: *.js
  prettier --check: any of: *.{scss,md,json}
