Repository keenethics/mayak: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js,.mjs, prettier --check

[MID-93] update organization edit feature
  src/app/(admin)/admin/_components/ServiceProvider/Organization/Show.js
  src/app/(admin)/admin/_lib/validationSchemas/organizationSchema.js
  src/app/(admin)/admin/_utils/transformOrganizationData.js
  src/app/(admin)/admin/_utils/transformOrganizationEditData.js
Due: eslint --ext .js,.mjs

[MID-103] fix price create and edit
  src/app/(admin)/admin/_utils/transformOrganizationData.js
  src/app/(admin)/admin/_utils/transformOrganizationEditData.js
  src/app/api/admin/common.js
Due: eslint --ext .js,.mjs

[MID-111] fix resizing not influencing the chip list
  package.json
  src/app/_components/CardSpecialist/ChipList.js
Due: eslint --ext .js,.mjs, prettier --check

[MID-112] fix social icons for mobile
  src/app/_components/CardSpecialist/Organization/Card.js
Due: eslint --ext .js,.mjs

[MID-103] small style fix and add redirect on modal
  src/app/(app)/specialist/@modal/(.)[id]/page.js
  src/app/(app)/specialist/[id]/page.js
  src/app/_components/CardSpecialist/AddressesList.js
  src/app/_components/CardSpecialist/CardWrapper.js
  src/app/_components/CardSpecialist/Organization/Card.js
  src/app/_components/CardSpecialist/Specialist/Card.js
  src/app/_components/CardSpecialist/TherapyPrices.js
Due: eslint --ext .js,.mjs

[MID-103] small changes
  src/app/(admin)/admin/_utils/transformOrganizationData.js
  src/app/_components/CardSpecialist/AddressesList.js
Due: eslint --ext .js,.mjs

[MID-103] small change
  src/app/api/event/route.js
Due: eslint --ext .js,.mjs

[MID-137] add changes when no data on page
  src/app/(app)/specialist/@modal/(.)[id]/page.js
  src/app/(app)/specialist/[id]/page.js
  src/app/(app)/specialist/page.js
  src/app/_components/Specialists/SpecialistList.js
Due: eslint --ext .js,.mjs

[MID-94] code review fixes
  src/app/_components/Map/window.js
Due: eslint --ext .js,.mjs

[MID-138] sort addreses by primary
  src/app/_components/CardSpecialist/Organization/Card.js
  src/app/_components/CardSpecialist/Specialist/Card.js
  src/app/api/search/route.js
Due: eslint --ext .js,.mjs

[MID-138] fix prop validation console warnings
  src/app/_components/CardSpecialist/prop-types.js
  src/app/api/search/route.js
Due: eslint --ext .js,.mjs

[MID-138] add lodash types
  package-lock.json
Due: prettier --check

[MID-114] added map to extended cards
  package-lock.json
  package.json
  src/app/_components/CardSpecialist/Organization/ExtendedCard.js
  src/app/_components/CardSpecialist/Specialist/ExtendedCard.js
Due: eslint --ext .js,.mjs, prettier --check

[MID-130] added price filter
  src/app/_components/Specialists/Filters.js
  src/app/_components/Specialists/PriceFilter.js
  src/app/_components/Specialists/SpecializationFilter.js
  src/app/_components/Specialists/index.js
  src/app/api/search/route.js
Due: eslint --ext .js,.mjs

[MID-94] refactored Map component
  src/app/_components/Map/component.js
  src/app/_components/Map/prop-types.js
  src/app/_components/Map/window.js
Due: eslint --ext .js,.mjs

[MID-00] fixed seeds to run on dev server
  prisma/seedProd.mjs
Due: none

[MID-00] removed comment
  prisma/seedProd.mjs
Due: none

[MID-82] dev merge
  prisma/migrations/20240325180741_add_support_focus_price/migration.sql
  src/app/(admin)/admin/_components/ServiceProvider/Organization/Show.js
  src/app/(admin)/admin/_components/ServiceProvider/ServicesFormCreate.js
  src/app/(admin)/admin/_components/ServiceProvider/ServicesFormEdit.js
  src/app/(admin)/admin/_components/ServiceProvider/SupportFocusesSelect.js
  src/app/(admin)/admin/_lib/validationSchemas/specialistCommonSchemas.js
Due: eslint --ext .js,.mjs

[MID-82] fixed seach
  src/app/api/search/route.js
Due: eslint --ext .js,.mjs

[MID-107] minor change in seedDev
  prisma/seedDev.mjs
Due: none

[MID-137] fix main page filter buttons styles+icons
  src/app/_components/Event/EventSection.js
  src/app/_components/Header.js
  src/app/_components/MainPageSections/DistrictList.js
  src/app/_components/PillButton/style.js
Due: eslint --ext .js,.mjs

[MID-107] fix prod seed
  prisma/seedProd.mjs
Due: none

[MID-93] client category in admin panel, add CRUD
  src/app/(admin)/admin/AdminApp.js
  src/app/(admin)/admin/_components/ClientCategoriesType/Create.js
  src/app/(admin)/admin/_components/ClientCategoriesType/List.js
  src/app/(admin)/admin/_components/ClientCategoriesType/index.js
  src/app/(admin)/admin/_lib/consts.js
Due: eslint --ext .js,.mjs

[MID-82] remove therapy fields from specialist models
  prisma/migrations/20240325202857_remove_therapies_from_specialist_models/migration.sql
  prisma/schema.prisma
  src/app/(app)/specialist/consts.js
Due: eslint --ext .js,.mjs

[MID-82] use supportFocuses on the frontend
  src/app/_components/CardSpecialist/DetailsList.js
  src/app/_components/CardSpecialist/Organization/Card.js
  src/app/_components/CardSpecialist/Specialist/Card.js
  src/app/_components/CardSpecialist/TherapyPrices.js
  src/app/_components/CardSpecialist/prop-types.js
Due: eslint --ext .js,.mjs

[MID-00] change z-index on spec page
  src/app/_components/Specialists/Filters.js
Due: eslint --ext .js,.mjs

[MID-137] minor styles fix
  src/app/(app)/specialist/page.js
  src/app/_components/CardSpecialist/CardModalWrapper.js
  src/app/_components/CardSpecialist/Organization/ExtendedCard.js
  src/app/_components/CardSpecialist/ProfileImage.js
  src/app/_components/CardSpecialist/Specialist/ExtendedCard.js
  src/app/_components/CardSpecialist/TherapyPrices.js
  src/app/_components/Event/Card.js
  src/app/_components/Event/EventSection.js
  src/app/_components/Header.js
  src/app/_components/InputFields/TextInputField.js
  src/app/_components/Links/InnerLink.js
  src/app/_components/Links/SocialLink.js
  src/app/_components/MainPageSections/DistrictList.js
  src/app/_components/MainPageSections/TherapiesSection.js
  src/app/_components/MainPageSections/TherapyCard.js
  src/app/_components/Specialists/Filters.js
  src/app/_components/Specialists/SpecialistList.js
Due: eslint --ext .js,.mjs

[MID-137] small fix after merge dev
  src/app/_components/Specialists/Filters.js
Due: eslint --ext .js,.mjs

[MID-114] added google maps link
  src/app/_components/CardSpecialist/Organization/ExtendedCard.js
  src/app/_components/CardSpecialist/Specialist/ExtendedCard.js
  src/utils/common.js
Due: eslint --ext .js,.mjs

[MID-110] fix ownershipType & isInclusiveSpace
  src/app/(admin)/admin/_components/ServiceProvider/Organization/Show.js
  src/app/(admin)/admin/_lib/validationSchemas/organizationSchema.js
Due: eslint --ext .js,.mjs

[MID-130] + backend for spec filter
  src/app/api/search/route.js
Due: eslint --ext .js,.mjs

[MID-103] fix migrations
  prisma/migrations/20240321142024_add_therapies_price_organization/migration.sql
  prisma/migrations/20240326104514_fix_therapy_price_in_organization/migration.sql
Due: none

[MID-111] change prop name
  src/app/_components/CardSpecialist/ChipList.js
  src/app/_components/CardSpecialist/Organization/OrganizationChipLists.js
Due: eslint --ext .js,.mjs

[MID-93] redirect after onSuccess create new client category
  src/app/(admin)/admin/_components/ClientCategoriesType/Create.js
  src/app/(admin)/admin/_components/ClientCategoriesType/List.js
  src/app/(admin)/admin/_components/ClientCategoriesType/index.js
Due: eslint --ext .js,.mjs

[MID-110] add Therapy.organizations
  prisma/migrations/20240326155755_add_therapy_organizations/migration.sql
  prisma/schema.prisma
Due: none

[MID-107] restore migration
  prisma/migrations/20240326165903_add_specialist_to_method_relation/migration.sql
Due: none

[MID-107] minor fix
  src/app/(admin)/admin/AdminApp.js
Due: eslint --ext .js,.mjs

[MID-94] fixed bug with edit
  prisma/migrations/20240326165903_add_specialist_to_method_relation/migration.sql
  src/app/(admin)/admin/_components/ServiceProvider/Specialist/SpecializationMethodsList.js
  src/app/(admin)/admin/_components/ServiceProvider/hooks/useSpecializationsWithMethods.js
  src/app/(admin)/admin/_lib/validationSchemas/serviceProviderCommonSchemas.js
Due: eslint --ext .js,.mjs

[MID-130] added price filter backend
  prisma/schema.prisma
  src/app/_components/Specialists/PriceFilter.js
  src/app/_hooks/useSetParams.js
  src/app/api/search/route.js
Due: eslint --ext .js,.mjs

Path conditions:
  eslint --ext .js,.mjs: any of: *.js
  prettier --check: any of: *.{scss,md,json}
