Repository keenethics/mayak: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js,.mjs, prettier --check

.lintstagedrc.json:

{
  "*.js": "eslint --ext .js,.mjs",
  "*.{scss,md,json}": "prettier --check"
}

[MID-105] refactor transofrmData function
  src/app/(admin)/admin/_utils/transformSpecialistFormData.js
Due: eslint --ext .js,.mjs

[MID-108] implemented CRUD, seeds, db schema nad migration
  prisma/migrations/20240318124243_create_methods/migration.sql
  prisma/schema.prisma
  prisma/seedProd.mjs
  src/app/(admin)/admin/AdminApp.js
  src/app/(admin)/admin/_components/Methods/List.js
  src/app/(admin)/admin/_components/Methods/Mutation.js
  src/app/(admin)/admin/_components/Methods/Show.js
  src/app/(admin)/admin/_components/Methods/index.js
  src/app/(admin)/admin/_lib/consts.js
Due: eslint --ext .js,.mjs

[MID-84] redirect to search on enter and button press
  src/app/_components/SearchInput/SearchContext.js
  src/app/_components/SearchInput/SearchInput.js
  src/app/_components/SearchInput/SearchInputField.js
  src/app/_hooks/api/useSearchSync.js
  src/app/_hooks/useKeyPress.js
  src/app/api/search/route.js
Due: eslint --ext .js,.mjs

[MID-120] hotfix feedback input bg, add additionalContainerStyle for inputs
  src/app/_components/Feedback.js
  src/app/_components/InputFields/TextInputField.js
Due: eslint --ext .js,.mjs

[MID-93] create client category, schema. Co-authored-by: Olexander Popov <alex.popov.tech@gmail.com>
  prisma/migrations/20240314154312_add_client_categories/migration.sql
  prisma/migrations/20240318153630_create_client_category/migration.sql
  prisma/schema.prisma
  prisma/seedProd.mjs
  src/app/(admin)/admin/AdminApp.js
  src/app/(admin)/admin/_lib/consts.js
Due: eslint --ext .js,.mjs

[MID-85] create new pr to avoid misunderstanding
  package-lock.json
  package.json
  src/app/_components/DistrictSearch/DistrictList.js
  src/app/_components/DistrictSearch/DistrictSearch.js
  src/app/_components/DistrictSearch/actions.js
  src/app/globals.css
Due: eslint --ext .js,.mjs, prettier --check

[MID-47] fix urlsearchparam
  prisma/seedDev.mjs
  src/app/_components/Event/EventFilter.js
Due: eslint --ext .js,.mjs

[MID-47] lint fix
  src/app/_components/Event/EventFilter.js
  src/app/_components/PillButton/style.js
Due: eslint --ext .js,.mjs

[MID-47] fix data on first render
  prisma/seedDev.mjs
  src/app/_components/Event/EventFilter.js
Due: eslint --ext .js,.mjs

[MID-117] refactor seeds to use prisma.model.upset
  prisma/seedProd.mjs
Due: none

[MID-47] fix styles and refactor
  prisma/seedDev.mjs
  src/app/(app)/event/page.js
  src/app/_components/Event/EventFilter.js
  src/app/_components/Event/config.js
  src/app/_components/PillButton/style.js
  src/app/_hooks/api/index.js
  src/app/_hooks/api/useEventList.js
  src/app/_hooks/api/useEventSetParam.js
  src/app/api/event/route.js
Due: eslint --ext .js,.mjs

[MID-47] small changes
  src/app/_components/Event/EventFilter.js
Due: eslint --ext .js,.mjs

[MID-47] small style fix
  src/app/(app)/event/page.js
  src/app/_components/Event/EventFilter.js
  src/app/_components/NoInfoToShow.js
Due: eslint --ext .js,.mjs

[MID-91] changes to code based on review
  src/app/(admin)/admin/_components/ServiceProvider/ServicesForm.js
  src/app/(admin)/admin/_components/ServiceProvider/ServicesFormCreate.js
  src/app/(admin)/admin/_components/ServiceProvider/ServicesFormEdit.js
  src/app/(admin)/admin/_lib/validationSchemas/specialistSchema.js
  src/app/(admin)/admin/_utils/common.js
Due: eslint --ext .js,.mjs

[MID-91] review fixes and a bugfix
  src/app/_components/CardSpecialist/AddressesList.js
  src/app/_components/CardSpecialist/TherapyPrices.js
Due: eslint --ext .js,.mjs

[MID-92] schema & seed
  prisma/migrations/20240318162006_add_work_time/migration.sql
  prisma/schema.prisma
  prisma/seedDev.mjs
Due: none

[MID-102] implemented request route
  src/app/api/request/route.js
Due: eslint --ext .js,.mjs

[MID-85] implement comments
  src/app/_components/DistrictSearch/DistrictSearch.js
  src/app/_components/DistrictSearch/List.js
  src/app/_components/DistrictSearch/actions.js
  src/app/_components/PillButton/style.js
  src/app/_components/Slider.js
  src/app/_components/index.js
Due: eslint --ext .js,.mjs

[MID-82] code review fixes
  src/app/(admin)/admin/_components/ServiceProvider/TherapiesCutsSelect.js
Due: eslint --ext .js,.mjs

[MID-105] refactor seed
  prisma/seedDev.mjs
Due: none

[MID-105] minor change in SocialLink component
  src/app/(admin)/admin/_components/ServiceProvider/SocialLinks.js
Due: eslint --ext .js,.mjs

[MID-85] refactor actions
  src/app/_components/DistrictSearch/actions.js
Due: eslint --ext .js,.mjs

[MID-85] minor changes
  src/app/_components/DistrictSearch/DistrictSearch.js
  src/app/_components/DistrictSearch/actions.js
Due: eslint --ext .js,.mjs

[MID-92] added work time to show in admin
  src/app/(admin)/admin/_components/ServiceProvider/Specialist/Show.js
  src/app/(admin)/admin/_components/ServiceProvider/WorkTime.js
  src/app/api/admin/common.js
  src/lib/consts.js
Due: eslint --ext .js,.mjs

[MID-84] add onclick functionality to the autocomplete items
  src/app/(app)/specialist/page.js
  src/app/_components/MainPageSections/TherapiesSection.js
  src/app/_components/SearchInput/OverlayList.js
  src/app/_components/SearchInput/SearchAutoCompleteDropDown.js
  src/app/_components/SearchInput/SearchContext.js
  src/app/_components/SearchInput/SearchInput.js
  src/app/_components/SearchInput/SearchInputField.js
  src/app/_hooks/api/index.js
  src/app/_hooks/index.js
Due: eslint --ext .js,.mjs

[MID-85] refactor folders
  docs/CODESTYLE.md
  src/app/(app)/page.js
  src/app/_components/DistrictSearch/index.js
  src/app/_components/MainPageSections/DistrictList.js
  src/app/_components/MainPageSections/DistrictSearchSection.js
  src/app/_components/MainPageSections/index.js
Due: eslint --ext .js,.mjs, prettier --check

[MID-82] renamed TherapyCut
  prisma/migrations/20240319153042_therapy_change_request/migration.sql
  prisma/schema.prisma
  prisma/seedDev.mjs
  src/app/(admin)/admin/_components/ServiceProvider/Organization/Show.js
  src/app/(admin)/admin/_components/ServiceProvider/ServicesForm.js
  src/app/(admin)/admin/_components/ServiceProvider/Specialist/Show.js
  src/app/(admin)/admin/_components/ServiceProvider/SupportFocusesSelect.js
  src/app/(admin)/admin/_lib/validationSchemas/organizationSchema.js
  src/app/(admin)/admin/_lib/validationSchemas/specialistSchema.js
  src/app/(admin)/admin/_utils/common.js
  src/app/api/admin/[...slug]/route.js
  src/app/api/admin/common.js
Due: eslint --ext .js,.mjs

[MID-82] fixed requests names
  prisma/data.mjs
Due: none

[MID-84] make max item count in autocomplete list configurable
  src/app/_components/SearchInput/OverlayList.js
  src/app/_components/SearchInput/SearchAutoCompleteDropDown.js
  src/app/_components/SearchInput/config.js
Due: eslint --ext .js,.mjs

[MID-84] add requests support to frontend
  prisma/seedProd.mjs
  src/app/_components/CardSpecialist/AddressesList.js
  src/app/_components/SearchInput/SearchContext.js
  src/app/api/search/route.js
Due: eslint --ext .js,.mjs

[MID-91] fix imports
  src/app/_components/CardSpecialist/BadgeList.js
  src/app/_components/CardSpecialist/DetailsList.js
  src/app/_components/CardSpecialist/SocialsList.js
  src/app/_components/CardSpecialist/Specialist/ExtendedCard.js
  src/app/_components/CardSpecialist/TherapyPrices.js
  src/app/_components/CardSpecialist/index.js
Due: eslint --ext .js,.mjs

[MID-47] refactor after review
  src/app/(app)/event/page.js
  src/app/_components/Event/EventFilter.js
  src/app/_components/Event/EventSection.js
  src/app/_components/Event/config.js
  src/app/_components/PillButton/style.js
  src/app/api/event/route.js
Due: eslint --ext .js,.mjs

[MID-47] change imports and hooks
  src/app/_components/Event/Card.js
  src/app/_components/Event/EventSection.js
  src/app/_hooks/api/index.js
  src/app/_hooks/api/useEventSetParam.js
Due: eslint --ext .js,.mjs

[MID-112] create full organization modal and page
  src/app/(app)/specialist/@modal/(.)[id]/page.js
  src/app/(app)/specialist/[id]/page.js
  src/app/(app)/specialist/utils.js
  src/app/_components/CardSpecialist/Organization/Card.js
  src/app/_components/CardSpecialist/Organization/ExtendedCard.js
  src/app/_components/CardSpecialist/Organization/index.js
Due: eslint --ext .js,.mjs

[MID-108] changed db schema
  prisma/migrations/20240318124243_create_methods/migration.sql
  prisma/migrations/20240319220539_add_methods/migration.sql
  prisma/schema.prisma
  prisma/seedProd.mjs
  src/app/(admin)/admin/AdminApp.js
  src/app/(admin)/admin/_components/Methods/List.js
  src/app/(admin)/admin/_components/Methods/Mutation.js
  src/app/(admin)/admin/_lib/consts.js
  src/app/_components/Feedback.js
  src/app/_components/InputFields/TextInputField.js
  src/app/api/admin/common.js
Due: eslint --ext .js,.mjs

[MID-84] add requests backend support
  src/app/_components/SearchInput/SearchAutoCompleteDropDown.js
  src/app/_components/SearchInput/SearchContext.js
  src/app/api/search/route.js
Due: eslint --ext .js,.mjs

[MID-107] update GeneralInfoEditSpec
  prisma/seedDev.mjs
  src/app/(admin)/admin/_components/ServiceProvider/Specialist/GeneralInfoEditSpec.js
  src/app/_components/Feedback.js
  src/app/_components/InputFields/TextInputField.js
Due: eslint --ext .js,.mjs

[MID-84] fix useOverflowChildren hook
  src/app/_components/SearchInput/OverlayList.js
  src/app/_hooks/useOverflowChildren.js
Due: eslint --ext .js,.mjs

[MID-94] implemented map on front for testing
  package-lock.json
  package.json
  prisma/seedDev.mjs
  src/app/(app)/page.js
  src/app/_components/Feedback.js
  src/app/_components/InputFields/TextInputField.js
  src/app/_components/Map.js
  src/app/_components/MapWindow.js
Due: eslint --ext .js,.mjs, prettier --check

[MID-82] fixed support focus table name
  prisma/migrations/20240320070348_therapy_change_request/migration.sql
  prisma/schema.prisma
Due: none
